.breadcrumds {
    &__list {
        display: flex;
        column-gap: 2rem;
        align-items: center;
        @include respond(phone-min) {
            column-gap: 1rem;
        }
        &-img {
            transform: translateY(5px);
            @include respond(big-1600) {
                transform: translateY(7px);
            }
            @include respond(phone-min) {
                transform: translateY(1px);
            }
            img {
                width: 5px;
                height: 10px;
                @include respond(big-1600) {
                    width: 10px;
                    height: 20px;
                }
                @include respond(phone-min) {
                    width: 4px;
                    height: 8px;
                }
            }
        }
    }
}
.bg-breadcrumds {
    color: $color-blue-light;
}