$color-blue: #2E2BD0;

$color-white: #fff;
$color-light-black: #2F353F;
$color-light-violet: #9695E7;
$color-light-purple : #CBCAF3;
$color-rgba: rgba(47, 53, 63, .7);
$color-rgba-2: rgba(47, 53, 63, 0.5);
$color-rgba-1: rgba(255, 255, 255, 0.7);
$color-rgba-3: rgba(47, 53, 63, 0.3);
$color-light-blue: #95989D;
$color-blue-light: rgba(46, 43, 208, 0.5);
$color-gradient-blue: linear-gradient(65.7deg, #2E2BD0 -67.89%, #7876F2 125.28%);
