<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="assets/css/ion.rangeSlider.min.css">
  <link rel="stylesheet" href="assets/css/style.min.css">
  
</head>
<body>
    
<!-- Чтобы весь контент подключался в дефолтный шаблон  -->
    {{> body }}
    {{> footer}}

    <script src="assets/js/jquery-3.6.4.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/ion.rangeSlider.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>