   <header>
        <div class="header bg">
            <div class="container-two">
                <div class="header__wrapper">
                    <a class="header__logo" href="#"><img src="assets/img/logo-mobile.png" alt="logo"></a>
    
                    <div class="header__wrapper-inner titel-20">
                        <nav class="header__wrapper-inner_nav">
                            <ul class="header__wrapper-inner_nav-line ">
                                <li><a href="#">ABOUT</a></li>
                                <li><a href="#">OUR SERVICES</a></li>
                                <li><a href="#">JOB OPENINGS</a></li>
                            </ul>
                        </nav>
                        
                        <div class="header__wrapper-inner_border"></div>
                            
                        <div class="header__wrapper-inner_lang">EN</div>
    
                        <a class="btn" href="#"><div class="btn-text">Contact us</div></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="header__mobile padding-top-100 bg">
            <div class="container-two">
                <div class="header__mobile-wrapper">
                    <div class="humburger">
                        <div class="humburger-line"></div>
                        <div class="humburger-line"></div>
                        <div class="humburger-line"></div>
                    </div>
    
                    <div class="logo-mobile">
                        <a href="#">
                            <img src="assets/img/logo-mobile.png" alt="logo">
                        </a>
                    </div>
    
                    <a class="btn-mobile_header" href="#"></a>
                </div>
            </div>
        </div>
    </header>