   <header>
        <div class="header bg">
            <div class="container-two">
                <div class="header__wrapper">
                    <a class="header__logo" href="index.html"><img src="assets/img/logo-mobile.png" alt="logo"></a>
    
                    <div class="header__wrapper-inner titel-20">
                        <nav class="header__wrapper-inner_nav">
                            <ul class="header__wrapper-inner_nav-line ">
                                <li><a href="about.html">ABOUT</a></li>
                                <li><a href="technical.html">OUR SERVICES</a></li>
                                <li><a href="webserver.html">JOB OPENINGS</a></li>
                            </ul>
                        </nav>
                        
                        <div class="header__wrapper-inner_border"></div>
                            
                        <div class="header__wrapper-inner_lang">EN</div>
    
                        <a class="btn" href="contacts.html"><div class="btn-text">Contact us</div></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="header__mobile padding-top-100 bg">
            <div class="container-two">
                <div class="header__mobile-wrapper" >
                    <div class="humburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
    
                    <div class="logo-mobile">
                        <a href="index.html">
                            <img src="assets/img/logo-mobile.png" alt="logo">
                        </a>
                    </div>
    
                    <a class="btn-mobile_header" href="contacts.html"></a>
                </div>
            </div>
            <div class="hed-mobile">
                <div class="container">
                    <div class="hed-mobile_line"></div>
                    <div class="hed-mobile-wrapper">
                        <nav class="hed__wrapper-nav">
                            <ul class="hed-mobile__wrapper-nav_link ">
                                <li><a href="about.html">ABOUT</a></li>
                                <li><a href="technical.html">OUR SERVICES</a></li>
                                <li><a href="webserver.html">JOB OPENINGS</a></li>
                            </ul>
                        </nav>
                        <div class="hed-mobile__lang">
                            <div class="hed-mobile__lang-text">change language</div>
                            <div class="hed-mobile__lang-en">EN</div>
                        </div>
                        
                        <div class="hed-mobile_policy">
                            <div>Terms of use</div>
                            <div class="hed-mobile_policy-mt">privacy policy</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>